---
import Link from "../../components/Link.astro";
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Projects">
  <div class="flex flex-col mt-4">
    <Link href="/site/demos/dice">Dice</Link>
    <Link href="/site/demos/space-invaders">Space invaders</Link>
    <!-- <Link href="/site/demos/login-example">Login example</Link> -->
  </div>
</MainLayout>
