---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home">
  <p class="mt-4">
    Welcome to my personal site. I'm a Senior Frontend Developer based in Madrid
    with over ten years of experience crafting single-page applications and
    traditional websites.
  </p>
  <p class="mt-2">
    <h2 class="font-bold tracking-tight">My skills</h2>
    <ul>
      <li>✔ Typescript and Javascript</li>
      <li>✔ WebGL and Canvas</li>
      <li>✔ Webpack, Vite, Rollup</li>
      <li>✔ React, Vue, Svelte</li>
      <li>✔ CSS-in-JS, PostCSS</li>
      <li>✔ GraphQL, tRPC, TanStack Query</li>
      <li>✔ Redux, Mobx, Jotai, Zustand</li>
      <li>✔ Jest, Playwright, Cypress</li>
      <li>✔ CI/CD and Docker</li>
    </ul>
  </p>
</MainLayout>
