---
import Link from "./Link.astro";
---

<header class="navbar absolute top-0 left-0 flex w-full px-8 py-4">
  <nav
    class="flex w-full items-center justify-center-safe px-8 gap-2 text-2xl text-shadow-md text-shadow-black"
  >
    <Link href="/site/">About me</Link>/
    <Link href="/site/projects">Projects</Link>
  </nav>
</header>
