---
import Nav from "./Nav.astro";
---

<header class="flex justify-start items-center h-24 ps-3">
  <h1 class="font-inconsolata font-bold tracking-tight text-3xl">
    Timofei's Playground
  </h1>
  <Nav />
</header>
