---
import Link from "./Link.astro";
---

<nav class="font-inconsolata px-8">
  <Link href="/site/">About me</Link>
  <Link href="/site/blog">Blog</Link>
  <Link href="/site/demos">Demos</Link>
</nav>
